.event-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 5px auto;
  max-width: 1000px;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
